body {
	margin: 0;
	background-color: #EAEAEA;
}

nav {
	background-color: #69A41E;
}

nav div {
	background-color: #77ba22;
	max-width: 1346px;
	margin: 0 auto;
	padding: 0 10px;   /* 0 top/bottom 10px left/right*/
}

#hamburger {
	float: right;
	margin-top: 15px;
}

nav ul {
	display: none;
}

#mobile-banking {
	background-color: #eeeeee;
	padding: 20px;
	font-family: Helvetica, Arial;
}

#mobile-banking h1 {
	font-size: 16px;
}

.login {
	background-color:  #528284;
	color: #ffffff;
	width: 40%;
	text-align: center;
}
.login + .login {
		float: right;
	}

#mobile-banking a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	margin: 10px 0;
}

#mobile-banking .contact {
	background-color: #fff;
	display: block;
	color: #333333;
	border: 1px solid #dddddd;
}

#mobile-banking ul {
	list-style: none;
	padding-left: 0;
}

#hero {
	background-color: #333333;
	padding-top: 200px;
	background-image: url(http://placehold.it/400x300); 
						/* or in this format: url(../img/filename)*/
	background-repeat: no-repeat; /* so the image would not repeat itself  */
	background-size: 100%;
	max-width: 1346px;
	margin: 0 auto;
}
#hero > p {
	background-color: #fff;
	display: inline-block;
	padding: 10px;
	float: right;  /* so the paragraph will float to the right of the image  */
}
#hero div {
	background-color: inherit;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	clear: both;
}
#hero a {
	background-color: #ffffff;
	padding: 10px;
	color: #189dcd;
	display: inline-block;
	text-decoration: none;
}
#hero button {
	display: none;
}

#products {
	text-align: center;
	padding: 10px;
	background-color: white:;
}
#products h1 {
	color: #77BA22;
}
#products a {
	text-decoration: none;
	color:	#25A5CA;
	display: inline-block;
	padding: 5px;
	background-color: #eeeeee;
	margin: 5px;
	border: 1px solid #dddddd;
}
#products .percentage + a {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}
.percentage {
	width: 300px;
	height: 200px;
	border: 1px solid #aaaaaa;
	margin: 20px 0;
	box-shadow: 0 14px 0 -10px #dddddd;
	text-align: left;
}
.percentage > span {
	text-transform: uppercase;
	background-color: #DFDFDF;
	padding: 4px;
	display: inline-block;
	font-weight: bold;
}
span.limited {
	background-color: #FF9100;  /* overrides the color attr on line 130  */
	color: #ffffff;
}
.percentage p {
	font-size: 64px;
	font-weight: bold;
	margin: 10px 0;
	padding-left: 10px;
}
.percentage p span {
	font-size: 32px;
	position: relative;
}

.percentage p span:first-child {
	bottom: 25px;
}
.percentage p span:last-child {
		right: 47px;
}

.percentage ul {
	list-style: none;
	color: #888888;
	padding-left: 10px;
}

#more-info {
	font-size: 16px;
}
#more-info img {
	display: none;
	}
#more-info div {
	margin-left: 15px;
	margin-right: 15px;
	}
#more-info span {
	text-transform: uppercase;
	font-weight: bold;
	}

#more-info a,
	#tc a {
		color: #25a5ca;
		text-decoration: none;
		}
#tc {
	margin-left: 25px;
	text-align: center;
	}

#what-people {
	display: none;
	}

@media all and (min-width: 600px) {

	#mobile-banking {
		display: none;
	}

	#products {
		width: 500px;
		margin: 0 auto;
	}



	#col1 {
	/*	background-color: pink;*/
		width: 46%;
		float: left;
	}
	
	#col2 {
		/*	background-color: teal;*/
		width: 46%;
		float: right;
		}	
	#article1, #article2,
	#article3, #article4 {
		height: 200px;
	}


	#tc {
		display: none;
		}
	

}

@media all and (min-width: 720px) {
	nav ul {
		display: block;
		margin: 0;
	}

	#hamburger {
		display: none;
	}

	nav img {
		float: left;
	}

	nav li {
		display: inline-block;
		line-height: 50px;
		padding: 0 10px;
	}

	nav ul:nth-of-type(1) {
		float: left;
	}

	nav ul:nth-of-type(2) {
		float: right;
	}

	nav div:after {
		content: "";
		display: block;
		clear: both;
	}

	nav a {
		color: white;
		text-decoration: none;
	}
	nav a span {
		display: none;  /*to hide the span  */
	}

	#hero {
		position: relative;
		background-size: auto;
		background-position: right;
	}

	#hero div {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
	}
	#hero:after {
		content: "";
		display: block;
		clear: both;
	}
	#hero > p {
		margin-bottom: 0;
	}

}

@media all and  (min-width: 860px) {
	#products div:first-child {
		/*		background-color: red;*/
		width: 50%;
		float: left;
	}

	#products {
		width: auto;
		/*		background-color: green;*/
		max-width: 1346px;
		margin: 0 auto;
		text-align: left;
		position: relative;
		padding: 0 100px 20px 100px;
		box-sizing: border-box;
	}

	#products:after {
		content: "";
		display: block;
		clear: both;
	}

	.percentage {
		float: right;
	}

	.percentage + a {
		color: red;
		position: absolute;
		bottom: 10px;
		right: 120px;
	}

}

@media all and (min-width: 970px) {
	nav a span {
		display: inline;   /* to show the span again */
		}

	nav li {
		padding: 0 15px;
		}

	#more-info
	#col1 {
		/*background-color: yellow;*/
		float: left;
		}

	#col1 div {
		/*background-color: pink;*/
		padding-left: 100px;
		position: relative;
		}

	#col1 img {
		position: absolute;
		left: 0;
		}

	#more-info img {
		display: block;
		}


	#col2 {
		/*background-color: teal;*/
		float: right;
		}

	#col2 div {
		/*background-color: blue;*/
		padding-left: 100px;
		position: relative;
		}

	#col2 img {
		position: absolute;
		left: 0;
		}

}

@media all and (min-width: 1020px) {
	#hero button {
		display: block;
		position: absolute;
		top: 50%
	}
	#prev {
		left: 0;
	}
	#next {
		right: 0;
	}

}

@media all and (min-width: 1346px)  {
	#products,
		#hero {
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		box-sizing: border-box;
}




